.terraform/
*.tfstate
*.tfstate.*
crash.log
*.backup
*.log
terraform.tfvars
terraform-checks/scripts/pre_apply_checks/reports/*
# Terraform internals and state
.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfplan
.git


